<!-- submissionSuccess.html -->

<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Submitted - Quick Apply</title>
    <link rel="icon" href="https://quick-apply-version2.darshan99.repl.co/static/icon.png" type="image/png">
    <link rel="stylesheet" href="https://quick-apply-version2.darshan99.repl.co/static/style.css">
</head>

<body>
  <div id="container">
    <header class="main-header">
      <a href="/home">
        <h1 class="header-title" id="animated-text">Quick Apply</h1>
      </a>
    </header>
  </div>
  <div id="down-div">
    <div class="success-message">
      <h2>Your Application has been Submitted Successfully!</h2>
      <p>Thank you for applying. Please wait for the recruiter's response. All the best!</p>
    </div>
  </div>
  <script src="https://quick-apply-version2.darshan99.repl.co/static/applicationSuccess-script.js"></script>
</body>
</html>
